.colecciones-content {
  display: none;
  flex-direction: column;
  margin-top: 0.5rem;
}

.colecciones:hover .colecciones-content {
  display: block;
}

.colecciones-content li {
  display: block;
  padding: 0.3rem 0rem;
  text-decoration: none;
  color: var(--text-color);
}

.colecciones-content a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
