* {
  margin: 0;
  padding: 0;
}

.padding-top1 {
  padding-top: 10vh;
  padding-bottom: 28vh;
}
.montserrat-light {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.margin-bottom{
  margin-bottom: 2vw;
  margin-left: 3vw;
}

.fondo{
  background-color: #f9f9f9;
}

.padding-top2{
  padding-top: 5vh;
}