* {
  margin: 0;
  padding: 0;
}

.margin-top1 {
  margin-top: 16vh;
}
.montserrat-light {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.margin-bottom{
  margin-bottom: 2vw;
  margin-left: 3vw;
}
